@model BookStore.WebClient.ViewModels.DetailsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Add icon library : https://www.w3schools.com/howto/howto_js_toggle_like.asp -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Details for <strong style="color: blue;">@Model.CurrentMedia.Title </strong></h2>

<p>
    <tr>
        <td> Name: </td>
        <td> @Model.CurrentMedia.Title </td>
    </tr>
</p>
<p>
    <tr>
        <td> Author: </td>
        <td> @Model.CurrentMedia.Author </td>
    </tr>
</p>
<p>
    <tr>
        <td> Genre: </td>
        <td> @Model.CurrentMedia.Genre </td>
    </tr>
</p>
<p>
    <tr>
        <td> Price: $</td>
        <td> @Model.CurrentMedia.Price </td>
    </tr>
</p>
<p>
    <tr>
        <td> Likes: </td>
        <td> @Model.Likes </td>
    </tr>
</p>
<p>
    <tr>
        <td> Dislikes: </td>
        <td> @Model.Dislikes </td>
    </tr>
</p>


@if (Model.HasPurchased)
{
    <h3> Rate this book? </h3>
    if (Model.RatingForBook == null)
    {
        <p><i> You have not rated this book yet, would you like to rate it? </i></p>
        <p>
            <i class="fa fa-thumbs-up" style="color: blue; font-size: 30px; cursor: pointer;" onclick="location.href='@Url.Action("RateBook", "Details", new { pLike = true, pMediaId = Model.CurrentMedia.Id, pReturnUrl = "" })'">&nbsp;</i>
            <i class="fa fa-thumbs-down" style="color: blue; font-size: 30px; cursor: pointer;" onclick="location.href='@Url.Action("RateBook", "Details", new { pLike = false, pMediaId = Model.CurrentMedia.Id, pReturnUrl = "" })'"></i>
        </p>
    }
    else if (Model.RatingForBook.Like == true)
    {
        <p><i> You have Liked this item. Dislike? </i></p>
        <i class="fa fa-thumbs-up like" style="color: #9a9c9c; font-size: 30px; opacity: 0.3;">&nbsp;</i>
        <i class="fa fa-thumbs-down dislike" style="color: blue; font-size: 30px; cursor: pointer;" onclick="location.href='@Url.Action("RateBook", "Details", new { pLike = false, pMediaId = Model.CurrentMedia.Id, pReturnUrl = "" })'"></i>
    }
    else if (Model.RatingForBook.Like == false)
    {
        <p><i> You have Disliked this item. Like? </i></p>
        <i class="fa fa-thumbs-up like" style="color: blue; font-size: 30px; cursor: pointer;" onclick="location.href='@Url.Action("RateBook", "Details", new { pLike = true, pMediaId = Model.CurrentMedia.Id, pReturnUrl = "" })'">&nbsp;</i>
        <i class="fa fa-thumbs-down dislike" style="color: dimgrey; font-size: 30px; opacity: 0.3;"></i>
    }
}


<h3> People also liked </h3>

@if (Model.RecommendedMedia.Count == 0)
{
    <i> Sorry, no one who liked this has liked any other book yet ... </i>
}

@foreach (var media in Model.RecommendedMedia)
{
    <tr>
        <td>
            <p>@Html.ActionLink(media.Title, "Index", "Details", new { pMediaId = media.Id, pReturnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, null)</p>
        </td>
    </tr>
}