
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details for @Model.CurrentMedia.Title </h2>

<table>
    <tr>
        <th></th>
    </tr>
    <tr>
        <td> Name: </td>
        <td> @Model.CurrentMedia.Title </td>
    </tr>
    <tr>
        <td> Author: </td>
        <td> @Model.CurrentMedia.Author </td>
    </tr>
    <tr>
        <td> Genre: </td>
        <td> @Model.CurrentMedia.Genre </td>
    </tr>
    <tr>
        <td> Price: </td>
        <td> @Model.CurrentMedia.Price </td>
    </tr>
    <tr>
        <td> Likes: </td>
        <td> @Model.Likes </td>
    </tr>
    <tr>
        <td> Dislikes: </td>
        <td> @Model.Dislikes
        </td>
    </tr>
</table>

@if (Model.HasPurchased)
{
    <h3> Thanks for Purchasing this book. </h3>
    if (Model.RatingForBook == null)
    {
        <p> You have not rated this book yet. Please rate it. </p>
        <p>@Html.ActionLink("Like", "LikeBook", "Details", new { pLike = true, pMediaId = Model.CurrentMedia.Id, pReturnUrl = "" }, null)
          @Html.ActionLink("Dislike", "LikeBook", "Details", new { pLike = false, pMediaId = Model.CurrentMedia.Id, pReturnUrl = "" }, null)</p>
    }
    else if (Model.RatingForBook.Like == true)
    {
        <p> You have Liked this book. </p>
        @Html.ActionLink("Dislike", "LikeBook", "Details", new { pLike = false, pMediaId = Model.CurrentMedia.Id, pReturnUrl = "" }, null);
    }
    else if (Model.RatingForBook.Like == false)
    {
        <p> You have Disliked this book. </p>
        @Html.ActionLink("Like", "LikeBook", "Details", new { pLike = true, pMediaId = Model.CurrentMedia.Id, pReturnUrl = "" }, null);
    }
}

<h3> Recommended Media: </h3>

@foreach (var media in Model.RecommendedMedia)
{
    <p> @media.Title </p>
}